PORT=5000
SUPABASE_URL=https://tiyujmidcgzgjugienpj.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRpeXVqbWlkY2d6Z2p1Z2VpbnBqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE0ODM5MDUsImV4cCI6MjA4NzA1OTkwNX0.BvcmaHvCD-Xts7Nw7Hk7WDF8U5cxiVo1Fm8A1ZJiEhk
